* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    background: #16a085;
}

.navbar header {
    color: #ecf0f1;
    font-size: 30px;
    margin-bottom: 30px;
}

.navbar header span {
    color: #05c46b;
    font-size: 35px;
}

.navbar main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 250px;
    height: 60px;
    font-size: 20px;
}

.item a {
    text-decoration: none;
    color: #ecf0f1;
    transition: color 0.5s;
}

.item img {
    margin-right: 10px;
    width: 15%;
}

.item a:hover {
    color: #05c46b;
}

.info {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background: #55efc4;
    color: white;
}

.info-detalhes {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 80px;
}

.title h1 {
    color: #00b894;
}

.title p {
    line-height: 70px;
    font-size: 20px;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 50px;
}

.btns a {
    display: block;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s;
    margin-right: 25px;
}

#criar_estufa {
    color: #00b894;
    border: 2px solid #00b894;
}

#criar_estufa:hover {
    color: white;
    background: #00b894;
}

#editar_estufa {
    color: #27ae60;
    border: 2px solid #27ae60;
    display: none;
}

#editar_estufa:hover {
    color: white;
    background: #27ae60;
}

#excluir_estufa {
    color: #d63031;
    border: 2px solid #d63031;
    display: none;
}

#excluir_estufa:hover {
    color: white;
    background: #ff7675;
}

.estufas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.item-estufas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.49);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.49);
}

.item-estufas img {
    transition: all 0.5s;
    width: 30%;
    margin-bottom: 50px;
    cursor: pointer;
}

.item-estufas img:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

.item-estufas p {
    color: #55efc4;
    line-height: 30px;
    font-size: 20px;
}

.item-estufas a {
    color: #55efc4;
    text-decoration: none;
}

.footer {
    height: 35vh;
    width: 100%;
}

.contato_footer {
    height: 70%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.5s;
}

.contato_footer i:hover {
    color: white;
}

.redes_sociais {
    display: flex;
}

.redes_sociais i {
    color: rgb(122, 173, 112);
    font-size: 24px;
    margin: 0 5px;
}

.topicos ul {
    display: flex;
    align-items: center;
}

.topicos li {
    list-style: none;
    margin-left: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: rgb(122, 173, 112);
    cursor: pointer;
    transition: color 0.5s;
}

.topicos a {
    text-decoration: none;
    color: rgb(122, 173, 112);
}

.topicos a {
    text-decoration: none;
    color: rgb(122, 173, 112);
}

.topicos li:hover {
    color: white;
}

.topicos a:hover {
    color: white;
    transition: color 0.5s;
}

.novidades {
    display: flex;
}

.novidades h2 {
    color: rgb(122, 173, 112);
    font-weight: 500;
    font-size: 19px;
    margin-right: 11px;
}

.novidades input {
    height: 22px;
    width: 167px;
    outline: none;
    border-radius: 7px;
    border: 2px solid #282229;
    background-color: #ffffff;
}

.novidades button {
    height: 26px;
    width: 94px;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.novidades button:hover {
    background-color: rgb(122, 173, 112);
}

.site {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    background-color: rgb(122, 173, 112);
}

.site h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}